.container-fluid {
    background-color: navy;
}

.navbar-brand {
    color: white;
    font-size: 45px;
}

.form-group {
    margin-left: 20px;
}

.form-control {
    width: 25%;
}
.btn-primary {
    width: 25%;
    margin-left: 20px;
}

.list-group-item {
    width:25%;
    height: 50%;
    margin-left: 20px;
    margin-top: 10px;
    background-color:rgb(204, 204, 204);
    color:black;
}

.card {
    width: 70%;
    margin-left: 35%;
}